@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  margin: 0;
  font-family: Main;
  font-size: 2em;
}

html {
  @apply bg-slate-800;
}

@font-face {
  font-family: Main;
  src: url(../fonts/Montserrat-ExtraBold.ttf);
}
.btn {
  padding-left: 10%;
  padding-right: 10%;
}

.main {
  display: flex;
  position: relative;
  margin-top: 40vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
