@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  font-family: Main;
  font-size: 2em;
}

html {
  @apply bg-slate-800;
}

@font-face {
  font-family: Main;
  src: url(../fonts/Montserrat-ExtraBold.ttf);
}
.btn {
  padding: 0;
  padding-left: 15%;
  padding-right: 15%;
  margin-left: -15%;
  @apply bg-slate-50 text-slate-800 rounded-2xl hover:text-slate-50 hover:bg-slate-800 hover:outline hover:outline-4 outline-slate-50 transition-all ease-linear duration-200;
}

.main {
  display: flex;
  flex: 1;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @apply text-center bg-slate-800 text-slate-50;
}
