@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  font-family: Main;
  font-size: 2em;
}

html {
  @apply bg-slate-800;
}

@font-face {
  font-family: Main;
  src: url(../fonts/Montserrat-ExtraBold.ttf);
}
.btn {
  padding-left: 10%;
  padding-right: 10%;
}

.btn-small {
  padding-left: 7%;
  padding-right: 7%;
}

.main {
  display: flex;
  flex: 1;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selector {
  margin-top: 2%;
}
